extends layout

append links
    li(style="float: right;")
        a(href="/logout") Logout
    li(style="float: right;")
        a(href="/Movies") Movies
        


block content
  .checkoutBody
    script(src="/scripts/checkout.js")
    h Shopping Cart
    .shopping-cart-listContainer
      each movie in moviesChosen
        .shopping-cart-row
          div.shopping-cart-title= movie.title
          div.shopping-cart-price $I need prices
    .purchase-btn Purchase Now!