<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans:400"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/home.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>busterblock</title>
  </head>
  <body>
    welcome to home of busterblocknb
    <form action="/logout" method="post">
      <input type="submit" value="Submit">
    </form>
    <button type="button" id="getData">Get Movie Data</button>
  </body>
</html>
