<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans:400"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>busterblock</title>
  </head>
  <body>
    you need to log in before getting home page (authenticate is default true for now)
    <form action="/login" method="post">
      <label for="username">Username:</label><br>
      <input type="text" name="username" value="Snoop"><br>
      <label for="password">Password:</label><br>
      <input type="text" name="password" value="Dog"><br>
      <input type="submit" value="Submit">
  </body>
</html>
