<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans:400"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>busterblock</title>
  </head>
  <body>
    you need to log in before getting home page
    <form action="/login" method="post">
      <label for="username">Username:</label><br>
      <input type="text" name="username" placeholder="Snoop"><br>
      <label for="password">Password:</label><br>
      <input type="text" name="password" placeholder="Dog"><br>
      <input type="submit" value="Submit">
    </form><br><br>
    this is for registering
    <form action="/register" method="post">
      <label for="username">Username:</label><br>
      <input type="text" name="username" placeholder="Snoop"><br>
      <label for="password">Password:</label><br>
      <input type="text" name="password" placeholder="Dog"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
