body {
  margin: 0;
  background: #222;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 150px;
}

nav {
  float: right;
  padding: 0 150px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.form-box {
  width: 380px;
  height: 500px;
  position: relative;
  margin: 6% auto;
  background: #444;
  padding: 5px;
  overflow: hidden;
  border-radius: 10px;
}

.btn-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 10px 2px #55d6aa;
  border-radius: 30px;
}

.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #55d6aa;
  border-radius: 30px;
  transition: 0.5s;
}

.input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #55d6aa;
  border: 0;
  outline: none;
  border-radius: 30px;
}

.check-box {
  margin: 30px 10px 30px 0;
}
span {
  color: #777;
  font-size: 12px;
  bottom: 65px;
  position: absolute;
}

#login {
  left: 50px;
}

#register {
  left: 450px;
}

.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  background: #55d6aa;
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover > .search-text {
  width: 240px;
  padding: 0 6px;
}

.search-box:hover > .search-btn {
  background: white;
}

.search-btn {
  color: #55d6aa;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

.greeting {
  font-size: 40px;
  color: #55d6aa;
  margin: 30px 10px 30px 0;
}
.greeting span {
  font-size: 40px;
  color: #55d6aa;
  top: 0;
  position: relative;
}


.movieTableContainer
{
  position: absolute;
  width: 100%;
}

.movieTable
{
  width: 100%;
  border-collapse: collapse;
}

.movieTableHeadRow
{
  height: 50px;
}

.movieTableRow
{
  height: 50px;
  cursor: pointer;
}

.movieTableRow:hover , .movieTableRow:nth-child(even):hover
{
  background-color: rgba(255, 255, 255, .1);
}

.movieTableRow:nth-child(even)
{
  background-color: rgba(0, 0, 0, .1);
}

.movieTableRowSelected
{
  background-color: #55d6aa !important;
}

.movieTableCells
{
  padding: 8px;
}
